[submodule "fishhook"]
	path = lib/fishhook
	url = https://github.com/facebook/fishhook.git
[submodule "LiveContainer"]
	path = lib/LiveContainer
	url = git@github.com:LiveContainer/LiveContainer.git
[submodule "lib/Dobby"]
	path = lib/Dobby
	url = git@github.com:jmpews/Dobby.git
